venv
.mypy_cache
*.pyc
__pycache__/
*.pyo
*.pyd
.DS_Store
.env
.env.local
.venv
.env*.local
*.sh
dataset
*.log
*.sqlite3
*.db
*.bak
*.backup
*.swp
*.swo
*.tmp
*.cache
*.egg-info
dist
build
*.egg
.ruff_cache

